@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <div>
            <a class="btn-slide animation animated-item-3" href="@Url.Action("Login", "User", new { Area = "Adm" })">更多</a>
        </div>

        <div>
            <a class="btn-slide animation animated-item-3" href="@Url.Action("Login", "User", new { Area = "Adm" })">更多</a>
        </div>
    </div>
</body>
</html>
